.address__list {
	margin-top: 20px;
	margin-right: 70px;
}

.address__item + .address__item {
	margin-top: 9px;
}

.address__street {
	color: var(--title-text-color);

	line-height: 1.71;
	font-style: normal;
	text-decoration: none;
}

.address__link {
	color: rgba(255, 255, 255, 0.6);

	font-weight: 400;
	line-height: 1.71;

	font-style: normal;
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--accent-color);
		fill: currentColor;
	}
}