.feature-list {
	display: flex;
	gap: 30px;
}

.feature-list__item {
	width: 270px;
}

.feature-list__svg {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--secondary-title-text-color);
	height: 120px;
	margin-bottom: 30px;
	border-radius: 4px;
}

.feature-list__title {
	margin-top: 0;
	margin-bottom: 10px;

	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}

.feature-list__paragraph {
	color: var(--paragraph-text-color);

	line-height: 1.71;
	letter-spacing: 0.03em;
}