.header {
	border-bottom: 1px solid #ECECEC;
}

.header__content {
	height: 60px;
	display: flex;
	align-items: center;

	@media (min-width: 786px) {
		height: 80px;
	}
}

.header__nav-content {
	display: flex;
	align-items: center;
}