.hero {
	background-color: var(--secondary-background-color);
	text-align: center;
}

.hero__thumb {
	padding-top: 200px;
	padding-bottom: 200px;

	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(
     	 to right,
     	 rgba(47, 48, 58, 0.4),
     	 rgba(47, 48, 58, 0.4)
    	), 
		url("../images/hero-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero__title {
	margin-bottom: 30px;

	color: var(--title-text-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

/* button */
.hero__button {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	padding: 10px 24px;

	color: var(--title-text-color);
	background-color: var(--accent-color);

	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	
	text-align: center;
	letter-spacing: 0.06em;

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--hover-button-color);
	}
}