.logo {
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;

	text-decoration: none;
}

.logo__web {
	color: var(--accent-color);
}

.logo__studio {
	color: var(--logo-color);
}

.logo__studio--footer {
	color: var(--title-text-color);
}