.occupation-list {
	display: flex;
	gap: 30px;
}

.occupation-list__item {
	width: 370px;
}

.occupation-list__thumb {
	position: relative;
}

.occupation-list__description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(47, 48, 58, 0.8);

	padding: 27px 0;

	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--title-text-color);
}