.section {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section.no-padding {
	padding-top: 0;
}

.section__title {
	margin-bottom: 30px;

	color: var(--primary-text-color);

	font-size: 24px;
	line-height: 1.18;
	text-align: center;

	@media (min-width: 1200px) {
		font-size: 36px;
	}
}