.site-contacts {
	display: none;

	@media (min-width: 768px) {
		display: flex;
		flex-direction: column;
		margin-left: auto;
	}

	@media (min-width: 1200px) {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 40px;
	}
}

.site-contacts__item:not(:last-child) {
	@media (max-width: 1200px) {
		margin-bottom: 10px;
	}
}

.site-contacts__link {
	color: var(--paragraph-text-color);
	fill: currentColor;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	text-decoration: none;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			color: var(--accent-color);
			fill: currentColor;
	}

	@media (min-width: 1200px) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.site-contacts__icon {
	margin-right: 10px;
	padding: 0;
}