:root {
	--primary-text-color: #212121;
	--title-text-color: #FFFFFF;
	--accent-color: #2196F3;
	--paragraph-text-color: #757575;
	--logo-color: #000000;
	--secondary-background-color: #2F303A;
	--hover-button-color: #188CE8;
	--secondary-title-text-color: #F5F4FA;
}